body { 
	/* Full screen */
	top: 0; left: 0;
	height: 100vm; 
	width: 100vw;
	margin: 0;
	overflow-x: hidden;
	/* Default */
	font-family: monospace;
}

output {
	/* Full parent */
	position: absolute;
	left: 0; top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

output > * {
	/* Full row */
	display: block;
}

.item {
	/* Layout and line break accuracy */
	white-space: pre;
	display: inline-block;
	vertical-align: top;
}

.object {
	padding-left: 1px;
}
.object > div {
	display: inline-block;
	vertical-align: top;
}
.actionbtn {
	display: inline-block;
	vertical-align: top;
}
.object > div > .arrow {
	display: inline-block;
	margin: 0px 4px;
	transform: translateY(3px);
	width: 0; height: 0;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #aaa;
	border-top: 8px solid transparent;
}
.object > div > .arrow.open {
	transform: translateY(3px) rotate(90deg);
}
.object > div > .content {
	margin-left: 7px;
	border-left: 2px solid #555;
	padding-left: 7px;
}

.query {
	display: flex;
	flex-direction: row;
}
.query > .prompt { flex: 0 0 auto; }
.query > input {
	flex: 1 1 auto;
	margin: 0;
	/* Default values */
	padding: 0;
	border: none;
	background: rgba(0, 0, 0, 0);
	font-family: inherit;
	color: inherit;
	font-size: inherit;
}

/* Styling */

body {
	font-family: "Droid Sans Mono";
	font-size: 20px;
	background-color: #222;
	color: #ddd;
}

output > *:first-child { border: none; }
output > * {
	border-top: 1px solid #444;
}

.null { color: hsl(240, 54%, 40%); }
.number { color: hsl(107, 64%, 70%); }
.bool { color: hsl(240, 100%, 50%); }
.undefined { 
	color: hsl(240, 100%, 30%); 
	text-shadow: 0px 0px 5px #44c;
}
.object > div > .content > * > *:first-child {
	color: hsl(240, 100%, 70%);
}
.object > div > .content > *.prototype > *:first-child {
	color: #000;
}
.actionbtn {
	cursor: pointer;
	display: none;
	background-color: #333;
	border: 1px solid #aaa;
	padding-bottom: 2px;
	margin: 3px 3px;
	border-radius: 5px;
	color: #aaa;
}
.item:hover > .actionbtn { display: inline-block; }
.query > input {
	font-style: oblique;
}
.query.loud > input:not([readonly]) {
	border-right: 10px solid red;
}

.promise::before {
	content: "Pending...";
	color: #ff0;
	padding: 0px 5px;
}
.promise.resolved::before {
	content: "\2713";
	color: #0f0;
	font-size: 0.8em;
}
.promise.rejected::before {
	content: "\2717";
	color: #f00;
	font-size: 0.8em;
}

.time {
	font-style: italic;
	color: #f37;
}

#scrollToggle {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 150%;
	transform: scale(1.326, 1);
	color: #00f;
	background: #fff;
	border: none;
	border-radius: 50%;
}

#scrollToggle.active {
	background: #00f;
	color: #fff;
}